[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group GerritForgeReviewers
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group GerritForgeReviewers
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group GerritForgeReviewers
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	push = group GerritForgeReviewers
	push = group user/Luca Milanesio (lucamilanesio)
	read = group GerritForgeReviewers
	read = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForgeReviewers
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group GerritForgeReviewers
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group GerritForgeReviewers
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	create = group GerritForgeReviewers
	create = group user/Luca Milanesio (lucamilanesio)
	push = group GerritForgeReviewers
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group GerritForgeReviewers
	pushMerge = group user/Luca Milanesio (lucamilanesio)
	read = group GerritForgeReviewers
	read = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group GerritForgeReviewers
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
[project]
	description = Gerrit plugin for redirecting legacy egit/jgit change number-based URLs to GerritHub.io
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
